body {
   
}
/*AddData page*/
#buttonSubmit {
    
}

#datesPosition p {
    display: inline;
}

#gender {
    display: inline;
}

form{
    display:compact;
}
#divAddEssentials{
   
    left: 3%;
    top: 0px;
    margin-left: 0px;
   display:block;
}

#divMainInfo {
    clear: left;
    
}



.imageInline{

    display:inline;
    float: left;
}
  
#ckEditor{
    clear: left;
    padding-left: 3%;
}

.essentialLabels {
    
    padding-left: 20px;

    line-height: 170%;
    
}

#labelsInfo {
    
    width:300px;
    
    top:50px;
}

.linkLabel {

    padding-left: 275px;
}

.essentialButtons{
    margin-left: 30px;
   
}

.userManButton {

    margin-left: 30px;
    
}

/*#addLinks {
    display:none;
}*/

.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }

   

    #afterImage {
      
        clear:both;
       padding-top:20px;
        
        
}

    #Div1 {
        height:50px;
    }

    #header .inHeader {
       
        /*display:inline;*/
        float:left;
       margin-left:30px;
       
    }
    #bigTitle {
        margin-top:0px;
    }

   .buttonInHeader {
      
        /*vertical-align:baseline;*/
        position:relative;
        margin-top:11px;
    }

    #individualInfo {
       display:none;
    }

    .hideButton {
        display:none;
    }

    #placement {
        clear:left;
    }
    .linkMain {
        font-size:30pt;
        padding-bottom: 20px;
    }

    #loginDiv {
        margin-top:10%;
        margin-left:40%;
        width: 500px;
    }

    .loginTextBox {
        margin-top:10px;
        margin-left:5px;
    }

    .loginLabel {
        
        margin-left:30px;
    }

    .labelLoginUsername {
        margin-left:23px;
    }

    .loginButton {
        margin-left:50px;
        margin-top: 5px;
    height: 26px;
}

    .signUpLink{
         margin-left:100px;
    }

#signUpForm {
     margin-top:3%;
        margin-left:30%;
        width: 400px;
}

.buttonCreateAccount {
    
    margin-left: 80px;
}

.loginLink {
    margin-left:140px;
}