body {
   
}
/*AddData page*/
#buttonSubmit {
    
}

#datesPosition p {
    display: inline;
}

#gender {
    display: inline;
}

form{
    display:compact;
}
#divAddEssentials{
    position:absolute;
    left: 3%;
    top: 0px;
    margin-left: 0px;
    display:none;
}

#divMainInfo {
    
}

.essentialLabels {
    
    padding-left: 20px;

    line-height: 170%;

}

div.imageInline{
    display:inline;

}
div.imageInline {
  float: left;
    height: 182px;
    width: 160px;
}
  
#ckEditor{
    float:left;
}
