body {
    margin: 0;
    padding: 0;
    background-color: #fffefe;
}

html {
}

#mainForm {
}


#header {
    background-color: #201E1B;
    width: 100%;
    height: 43px;
}

#placement {
    z-index: 0;
    position: relative;
    margin-top: 0px;
}

#bigTitle {
    /*color: rgb(250, 231, 191);*/
    /*color: #201E1B;*/
    font-size: 38px;
    font-family: sans-serif;
    color: white;
}

/*#backGroundImage {
    background-size: 300px 150px;
    background-image: url("C:\Sergiu\Developer\Web\Timeline_repository\Documentation\Design\Textures\Restaurant-menu-vintage-paper-labels-set\11.jpg");
}*/
/*AddData page*/
#buttonSubmit {
}

#datesPosition p {
    display: inline;
}

#gender {
    display: inline;
}

form {
    display: compact;
}

#divAddEssentials {
    left: 3%;
    top: 0px;
    margin-left: 0px;
    display: block;
}

#divMainInfo {
    clear: left;
}



.imageInline {
    display: inline;
    float: left;
}

#ckEditor {
    clear: left;
    padding-left: 3%;
}

#labelsInfo {
    font-family: "Linux Libertine",Georgia,Times,serif;
}

#divEssentialInfo {
    margin-left: 3%;
    font-size: 0.875em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h3 {
    font-family: sans-serif;
    margin-left: 1%;
}

#htmlInfo {
    font-family: sans-serif;
    margin-right: 15%;
    margin-left: 3%;
    font-size: 0.875em;
}

#additionalResources {
    font-family: sans-serif;
    margin-right: 15%;
    margin-left: 3%;
    font-size: 0.875em;
}

#additionalLinks {
    font-family: sans-serif;
    margin-right: 15%;
    margin-left: 3%;
    font-size: 0.875em;
}

.essentialLabels {
    padding-left: 20px;
    line-height: 170%;
}

#labelsInfo {
    width: 300px;
    top: 50px;
}

.linkLabel {
    padding-left: 275px;
}

.essentialButtons {
    margin-left: 30px;
}

.userManButton {
    border-style: solid;
    border-color: #767d84;
    border-width: thin;
    margin-left: 20px;
    background-color: transparent;
    color: #222426;
    cursor: pointer;
    font-size: 17px;
    font-family: Arial;
    /*//text-decoration:underline;*/
    font-weight: 400;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 221px;
    width: 93px;
}

    .userManButton:hover {
        background-color: #9ea3a9;
    }

/*#addLinks {
    display:none;
}*/




#afterImage {
    clear: both;
    padding-top: 20px;
}



.inHeader {
    position: relative;
    /*display: inline;*/
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    top: -8px;
    left: -18px;
    width: 90px;
}

#bigTitle {
    margin-top: 0px;
}

.searchButton {
    margin-left: 5px;
}


#individualInfo {
    display: none;
    margin-left: 7%;
}

.hideButton {
    display: none;
}

#placement {
    clear: left;
}

.linkMain {
    font-size: 30pt;
    font-size: 38px;
    font-family: sans-serif;
    color: white;
    /*padding-bottom: 20px;*/
}

#loginDiv {
    margin-top: 10%;
    margin-left: 40%;
    width: 500px;
}

.loginTextBox {
    margin-top: 10px;
    margin-left: 5px;
}

.loginLabel {
    margin-left: 30px;
}

.labelLoginUsername {
    margin-left: 23px;
}

.loginButton {
    /*background-color:#fff;*/
    margin-left: 50px;
    margin-top: 5px;
}

.signUpLink {
    margin-left: 100px;
}

#signUpForm {
    margin-top: 3%;
    margin-left: 30%;
    width: 400px;
}

.buttonCreateAccount {
    margin-left: 80px;
}

.loginLink {
    margin-left: 140px;
}

.linkLogout {
    position: absolute;
    left: 90%;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    top: 14px;
    width: 46px;
}

.tagLinks {
    background: #808080;
    margin: 2px 2px 2px 0;
    padding: 0px 4px 1px 3px;
    border: 1px solid #e1ecf4;
}

    .tagLinks:hover {
        /*font-size:15px;
    font-weight:bold;
    font-family:sans-serif;*/
        background: #201E1B;
        cursor: pointer;
        color: #ffffff;
    }

#footer {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #201E1B;
}

.inFooter {
    /*position:absolute;*/
    font-family: sans-serif,Georgia;
    font-size: 1em;
    color: white;
    text-decoration: none;
    /*display:inline;*/
    padding-left: 4%;
    /*margin-top: 100%;*/
    margin-bottom: 0;
    /*margin-bottom: 0px;*/
}

.linkContact {
    padding-left: 34%;
}

#documentsManaging {
    width: 334px;
    position: relative;
    top: 0px;
    left: 0px;
}

.inDocumentsManaging {
    display: inline;
}

#tagsManaging {
    margin-top: 20px;
    position: relative;
    /*float:right;*/
}

#tagsManagingButton .tagButton {
    margin-left: 20px;
}

.infoLabel {
    /*float:right;*/
    color: red;
}

#divAddEssentials {
    margin-left: 2%;
}

#divMainInfo {
    margin-left: 2%;
}

#verifyTag {
    color: red;
}

.textBoxSearchQuery {
    overflow: visible;
    width: 289px;
}

ul.ui-autocomplete {
    background: white;
    width: 200px;
}

.hide {
    display: none;
}

#pageBody {
    overflow: auto;
    margin-left: 8%;

}

#pageBodyTagInfo {
        overflow: auto;
    margin-left: 6%;
    margin-right:15%;
}
.inlineProfile {
    float: left;
}


#tagsManaging {
    width: 335px;
}

#nearProfile {
    margin-left: 5%;
    width: 70%;
}

#tabs {
    height: 30px;
}

    #tabs .userManagingTab {
        background: #fffefe;
        margin: 2px 2px 2px 0;
        padding: 3px 7px 4px 6px;
        border: 1px solid #e1ecf4;
        border-bottom: 0px;
        margin-left: 10px;
    }

        #tabs .userManagingTab:hover {
            cursor: pointer;
            background: #ff6a00;
        }

#tagsManaging {
    top: 0px;
    left: 0px;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}


.editDocumentLink {
    font-family: sans-serif;
    font-size: larger;
}


    /* unvisited link */
    .editDocumentLink:link {
        color: #0c65a5;
        text-decoration: none;
    }

    /* visited link */
    .editDocumentLink:visited {
        color: #0c65a5;
        text-decoration: none;
    }

    /* mouse over link */
    .editDocumentLink:hover {
        text-decoration: underline;
    }

.editTagLink {
    font-family: sans-serif;
    font-size: larger;
}
    /* unvisited link */
    .editTagLink:link {
        color: #0c65a5;
        text-decoration: none;
    }

    /* visited link */
    .editTagLink:visited {
        color: #0c65a5;
        text-decoration: none;
    }

    /* mouse over link */
    .editTagLink:hover {
        text-decoration: underline;
    }

#tagsManaging h2 {
    font-family: Arial;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #222426;
}

#documentsManaging h2 {
    font-family: Arial;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #222426;
}

.usernameLabel {
    color: #222426;
}

.ButtonAsLink {
    background-color: transparent;
    border: none;
    color: #222426;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    padding: 0px;
}

#pageBody {
    margin-left: 3%;
}

.linkVoteUp {
    margin-left: 30px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflfn2jz6.webp) -504px -142px;
    background-size: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.labelVote {
    margin-left: 30px;
}

.labelViews {
    margin-left: 20px;
    font-size: 13px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.inline {
    display:inline;
}



#containerTagInfo{
    font-family:sans-serif;
}

#containerTagDescription{
    font-family:sans-serif;
}

h2 {
    font-family:sans-serif;
    font-weight:500;
    color: #444;
    font-size:large;
}

#h2TagInfo{
    font-family:sans-serif;
    font-weight:500;
    color: #444;
    font-size:x-large;
}

#labelTag {
    color:gray;
    text-decoration:underline;
}